@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', serif, sans-serif;
}

:root{
    --azul-principal: #1CB0F6;
    --azul-acinzentado: #586892;
    --azul-escuro: #1453A3;
    --cor-de-fundo: #0d141f;   
    --cinza: #4D4D4D;
    --cinza-escuro: #333333; 
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(217, 41%, 12%);
}
body{
    max-width: 2000px;
    margin: 0 auto;
}
h1 {
    font-family: 'Baloo 2', serif, sans-serif;
}

.continue-button button {
    font-family: 'Baloo 2', serif, sans-serif;
}
.redirect p, a, span{
    font-family: 'Baloo 2', serif, sans-serif;
}
.redirect a{
    text-decoration: none;
    color: inherit;
}
.redirect{
    margin-top: auto;
    text-align: center;
}
.redirect span{
    font-weight: 1000;
    text-decoration: underline;
}
#opcaosenha{
    position: absolute;
    top: 50%;
    right: 20%;
    cursor: pointer;
}
input[type="password"]::-ms-reveal {
    display: none;
}

input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    position: absolute;
    right: 0;
}

.container{
    border-radius: 30px;
}

.signin-image{
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.form{
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.signup-image{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/*Modal*/

.modal-overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal {
    background: #2e2e2e;
    border-radius: 10px;
    width: 35%;
    position: relative;
    /*Alterar essas duas linhas debaixo mais pra frente*/
    max-width: 500px;
    min-width: 400px;
    text-align: center;
    z-index: 2;
    color: white;
}

#top-modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px;
    background-color: var(--cinza);
}

.circles{
    display: flex;
}

.circle{
    margin: 3px;
}

.circles #red{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: hsl(0, 100%, 60%);
}

.circles #orange{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: hsl(39, 100%, 60%);
}

.circles #green{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: hsl(120, 100%, 30%);
}

#modalTitle{
    text-align: center;
    flex: 1;
    font-family: 'Baloo 2';
    font-weight: bolder;
}

.campos p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.campos button{
    border: none;
    color: #fff;
    width: 50%;
    background-color: var(--azul-principal);
    box-shadow: 2px 2px 0px 1.5px var(--azul-escuro);
    border-radius: 10px;
    padding: 8px;
    font-size: 1.0em;
    transition: 0.1s ease;
    margin-bottom: 10%;
    font-family: 'Baloo 2';
    font-weight: bolder;
}

.campos button:active{
    transform: translateY(6px);
    box-shadow: 1px 1px 0px 0px var(--azul-escuro);
}

#aviso{
    text-align: center;
    font-size: 18px;
    padding: 30px;
    font-family: 'Baloo 2';
    font-weight: bolder;
}

@media screen and (max-width: 767px) and (orientation: portrait){
    .container {
    width: 90%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    border-radius: 30px;
    }

h1{
    margin-top: auto;
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
}

.input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.signup-image{
    width: 100%;
    height: 45%;
    background-color: var(--cor-de-fundo);
    background-image: url(../img/formimg/signupimage.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 30px 30px 0px 0px;
}

.signin-image{
    width: 100%;
    height: 45%;
    background-color: var(--cor-de-fundo);
    background-image: url(../img/formimg/signinimage.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 30px 30px 0px 0px;
}

.form {
    width: 100%;
    background-color: #ffffffec;
    padding: 2rem;
    height: 50%;
    border-radius: 0px 0px 30px 30px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

form{
    width: 100%;
    max-height: 250px;
}

.input-box{
    position: relative;
}

.input-box i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -1%;
}

.input-box input {
    margin: 0.5rem 0;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    width: 80%;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid var(--azul-escuro);
}

.continue-button button {
    width: 75%;
    border: none;
    background-color: var(--azul-principal);
    padding: 0.2rem;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 2%;
}

.continue-button button:hover {
    background-color: hsl(207, 100%, 55%);
}

.continue-button button {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

.redirect{
    font-size: 13.5px;
}
}

@media screen and (max-width: 767px) and (orientation: landscape){
    .container {
    width: 90%;
    height: 90vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    border-radius: 20px;
    }

h1{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 3%;
    margin-top: auto;
    font-size: 32px;
}

.input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.signup-image{
    width: 50%;
    background-color: var(--cor-de-fundo);
    background-image: url(../img/formimg/signupimage.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 20px 0px 0px 20px;
}

.signin-image{
    width: 50%;
    background-color: var(--cor-de-fundo);
    background-image: url(../img/formimg/signinimage.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 0px 20px 20px 0px;
}

.form {
    width: 50%;
    background-color: #ffffffec;
    padding: 0.5rem;
    height: auto;
    border-radius: 0px 20px 20px 0px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    width: 100%;
    max-height: 250px;
}

.input-box {
    margin-bottom: 0.2rem;
}

.input-box{
    position: relative;
}

.input-box i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4%;
}

.input-box input {
    margin: 0.3rem 0;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    width: 75%;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid var(--azul-escuro);
}

.continue-button button {
    width: 60%;
    border: none;
    background-color: var(--azul-principal);
    padding: 0.3rem;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease;
}

.continue-button button:hover {
    background-color: hsl(207, 100%, 55%);
}

.continue-button button {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}
.redirect{
    font-size: 13.5px;
}
}


@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .container {
    width: 90%;
    height: 60vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    }

h1{
    text-align: center;
    font-weight: bolder;
    margin-top: auto;
    font-size: 36px;
}

.input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.signup-image{
    width: 50%;
    background-color: var(--cor-de-fundo);
    background-image: url(../img/formimg/signupimage.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.signin-image{
    width: 50%;
    background-color: var(--cor-de-fundo);
    background-image: url(../img/formimg/signinimage.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.form {
    width: 50%;
    background-color: #ffffffec;
    height: auto;
    padding: 1rem;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    width: 100%;
}

.input-box{
    position: relative;
}

.input-box i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

.input-box input {
    margin: 0.7rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    width: 75%;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid var(--azul-escuro);
}

.continue-button button {
    width: 50%;
    border: none;
    background-color: var(--azul-principal);
    padding: 0.3rem;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease;
}

.continue-button button:hover {
    background-color: hsl(207, 100%, 55%);
}

.continue-button button {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    .container {
    width: 85%;
    height: 90vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    }

h1{
    text-align: center;
    font-weight: bolder;
    margin-top: auto;
    font-size: 36px;
}

.input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.signup-image{
    width: 50%;
    background-color: var(--cor-de-fundo);
    background-image: url(../img/formimg/signupimage.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.signin-image{
    width: 50%;
    background-color: var(--cor-de-fundo);
    background-image: url(../img/formimg/signinimage.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.form {
    width: 50%;
    background-color: #ffffffec;
    padding: 2rem;
    height: auto;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    width: 100%;
}

.input-box{
    position: relative;
}

.input-box i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
}

.input-box input {
    margin: 0.7rem 0;
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    width: 75%;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid var(--azul-escuro);
}

.continue-button button {
    width: 50%;
    border: none;
    background-color: var(--azul-principal);
    padding: 0.35rem;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease;
}

.continue-button button:hover {
    background-color: hsl(207, 100%, 55%);
}

.continue-button button {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
}

@media screen and (min-width: 1025px) and (max-width: 1440px){
    .container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    }

h1{
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
    margin-bottom: 5%;
    margin-top: auto;
}

.input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.signup-image{
    width: 50%;
    background-color: var(--cor-de-fundo);
    background-image: url(../img/formimg/signupimage.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.signin-image{
    width: 50%;
    background-color: var(--cor-de-fundo);
    background-image: url(../img/formimg/signinimage.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.form {
    min-width: 50%;
    max-width: 50%;
    background-color: #ffffffec;
    padding: 1rem;
    height: auto;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    min-width: 95%;
    max-width: 100%;
}

.input-box {
    margin-bottom: 0.5rem;
}

.input-box{
    position: relative;
}

.input-box i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6%;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    min-width: 75%;
    max-width: 75%;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid var(--azul-escuro);
}

.continue-button button {
    width: 50%;
    border: none;
    background-color: var(--azul-principal);
    padding: 0.6rem;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease;
}

.continue-button button:hover {
    background-color: hsl(207, 100%, 55%);
}

.continue-button button {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}
}

@media screen and (min-width: 1441px){
.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    max-width: 1800px;
    max-height: 900px;
    }

h1{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 5%;
    font-size: 42px;
    margin-top: auto;
}

.input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.signup-image{
    width: 50%;
    background-color: var(--cor-de-fundo);
    background-image: url(../img/formimg/signupimage.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.signin-image{
    width: 50%;
    background-color: var(--cor-de-fundo);
    background-image: url(../img/formimg/signinimage.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.form {
    width: 50%;
    background-color: #ffffffec;
    padding: 3rem;
    height: auto;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    width: 100%;
}

.input-box {
    margin-bottom: 1rem;
}

.input-box{
    position: relative;
}

.input-box i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6%;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    width: 75%;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid var(--azul-escuro);
}

.continue-button button {
    width: 50%;
    border: none;
    background-color: var(--azul-principal);
    padding: 0.6rem;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease;
}

.continue-button button:hover {
    background-color: hsl(207, 100%, 55%);
}

.continue-button button {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
.redirect{
    font-size: 18px;
}
}