*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', serif, sans-serif;
}
:root{
    --azul-principal: #1CB0F6;
    --azul-acinzentado: #586892;
    --azul-escuro: #1453A3;
    --cor-de-fundo: #0d141f;
    --cinza: #4D4D4D;
    --cinza-escuro: #333333;
}

html, body{
    height: 100%;
    color: white;
    background-color: var(--cor-de-fundo);
}

body{
    max-width: 2400px;
    margin: 0 auto;
}

#container{
    width: 100%;
    height: 100vh;
    display: flex;
}

#settings-container{
    border-right: 2px solid var(--azul-principal);
    background-color: var(--cor-de-fundo);
    width: 20%;
    height: 100vh;
}

#settings-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#settings{
    width: 100%;
    overflow: auto;
    flex: 1;
}

#config-icon{
    text-align: center;
}

#titulo{
    text-align: center;
    color: var(--azul-principal);
}

#opcoes-alterar{
    text-align: center;
}

.alterar{
    cursor: pointer;
}

#opcoes-conta{
    display: flex;
    flex-direction: column;
    text-align: center;
}



#lista-ranking{
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
}

#profile-container{
    flex: 1;
    background-color: var(--cor-de-fundo);
}

#profile-info{
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--azul-principal);
    width: 100%;
    max-height: 30vh;
}

#profile-options{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#alterar-img{
    cursor: pointer;
}

#alterar-cor{
    cursor: pointer;
}

#names{
    display: flex;
    flex-direction: column;
}

#profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#profile-container{
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

#profile-user{
    display: flex;
    align-items: center;
}

#profile-status{
    display: flex;
    justify-content: space-around;
    flex: 1;
    margin: 2%;
    max-height: 65vh;
}

#status-container{
    width: 30%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: center;
}

.status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2E3D52;
    box-shadow: 5px 5px 0px 0px #1F2433;
    border-radius: 20px;
}

.status div:nth-child(3){
    color: #B0C2DE;
}

#medal-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}


#title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    margin-bottom: 3%;
    background-color: #2E3D52;
    box-shadow: 5px 5px 0px 0px #1F2433;
    border-radius: 18px;
}

#medals-container{
    background-color: #2E3D52;
    width: 100%;
    display: flex;
    padding: 5%;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    border-radius: 18px;
    box-shadow: 5px 5px 0px 0px #1F2433;
}

.medals{
    width: 55px;
    height: 55px;
    margin: 3%;
    border-radius: 50%;
    background-color: var(--cinza-escuro);
}

#ranking-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

#ranking{
    text-align: center;
    background-color: #2E3D52;
    box-shadow: 5px 5px 0px 0px #1F2433;
    border-radius: 18px;
    flex: 1;
}

#ranking h1{
    color: yellow;
}

#posicao-usuario{
    margin-top: 3%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    background-color: #2E3D52;
    box-shadow: 5px 5px 0px 0px #1F2433;
}



/*Modal de alterar*/

.modal-overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #2e2e2e;
    border-radius: 10px;
    width: 35%;
    position: relative;
    /*Alterar essas duas linhas debaixo mais pra frente*/
    max-width: 500px;
    min-width: 400px;
}

#top-modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px;
    background-color: var(--cinza);
}

.circles{
    display: flex;
}

.circle{
    margin: 3px;
}

.circles #red{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: hsl(0, 100%, 60%);
}

.circles #orange{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: hsl(39, 100%, 60%);
}

.circles #green{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: hsl(120, 100%, 30%);
}

#modalTitle{
    text-align: center;
    flex: 1;
}

.campos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 20px;
}

.campos input{
    padding: 3px;
    outline: none;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
}

.inputssenha{
    position: relative;
}

.opcaosenha{
    color: black;
    position: absolute;
    right: 26%;
    cursor: pointer;
}

.campos p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.campos button{
    border: none;
    color: #fff;
    width: 50%;
    background-color: var(--azul-principal);
    box-shadow: 2px 2px 0px 1.5px var(--azul-escuro);
    border-radius: 10px;
    padding: 5px;
    font-size: 1.0em;
    transition: 0.1s ease;
}

.campos button:active{
    transform: translateY(6px);
    box-shadow: 1px 1px 0px 0px var(--azul-escuro);
}

#aviso{
    text-align: center;
}

#prealterar-cor{
    width: 135px;
    height: 135px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50%;
    background-color: hsl(0, 0%, 60%);
}

#prealterar-cor img{
    width: 70%;
}

#cores{
    display: flex;
    justify-content: center;
    row-gap: 20px;
    flex-wrap: wrap;
}

.opcaocores{
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 50%;
}

#prealterar-img{
    width: 135px;
    height: 135px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
}

#prealterar-img img{
    width: 70%;
}

#imagens{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}

.opcaoimg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 2px solid var(--cinza);
    background-color: rgba(255, 255, 255, 0);
}

.opcaoimg img{
    width: 90%;
    height: 90%;
}

#xp #numero-xp{
    color: #9069CD;
}

#coracao #numero-vidas{
    color: #EA2B2B;
}

#ofensiva #numero-ofensiva{
    color: #FFC800;
}


@media screen and (max-width: 767px) and (orientation: portrait){
    
}

@media screen and (max-width: 767px) and (orientation: landscape){
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){

}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){

}

@media screen and (min-width: 1025px) and (max-width: 1440px){

#config-icon img{
    width: 48px;
}

#profile-img{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid black;
    background-color: hsl(0, 0%, 60%);
}

#profile-img img{
    width: 65%;
}

#names{
    margin-left: 3%;
}

.status{
    width: 100%;
    height: 33%;
    padding: 25px;
}

.status img{
    width: 40px;
    height: 40px;
}

#xp #numero-xp{
    font-size: 1.2em;
}

#coracao #numero-vidas{
    font-size: 1.2em;
}

#ofensiva #numero-ofensiva{
    font-size: 1.2em;
}

#ranking{
    padding: 10px;
}

#ranking img{
    width: 50px;
}

#posicao-usuario{
    text-align: center;
    font-size: 0.9em;
}
}


@media screen and (min-width: 1441px){
/*
Separação de classes e Id's para estilização 
*/

/*barra de alteração lateral*/
#config-icon img{
    width: 48px;
}

#settings #titulo{
    font-size: 32px;
}

#settings{
    font-size: 22px;
}

#settings input{
    font-size: 18px;
}

/*Infos do perfil*/

#profile-img{
    width: 175px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    background-color: hsl(0, 0%, 60%);
}

#profile-img img{
    width: 65%;
}

#names{
    margin-left: 3%;
    font-size: 1.2em;
}

/*Medalhas*/

#title-container{
    font-size: 1.3em;
}

.medals{
    width: 70px;
    height: 70px;
    margin: 3%;
    border-radius: 50%;
    background-color: #D9D9D9;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
}

/*Status*/

.status{
    width: 100%;
    height: 33%;
    padding: 25px;
    gap: 1em;
}

.status img{
    width: 70px;
    height: 70px;
}

.status div{
    font-size: 1.2em;
}

#xp #numero-xp{
    font-size: 1.5em;
}

#coracao #numero-vidas{
    font-size: 1.5em;
}

#ofensiva #numero-ofensiva{
    font-size: 1.5em;
}

/*Ranking*/

#ranking{
    padding: 20px;
}

#ranking img{
    width: 60px;
}

#posicao-usuario{
    text-align: center;
    font-size: 1.1em;
}

#lista-ranking{
    font-size: 1.2em;
}
}
