*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', serif, sans-serif;
}
:root{
    --azul-principal: #1CB0F6;
    --azul-acinzentado: #586892;
    --azul-escuro: #1453A3;
    --cor-de-fundo: #0d141f;
    --cinza: #4D4D4D;
    --cinza-escuro: #333333;
    --vermelho: #EA2B2B;
    --vermelho-escuro: #6C0000;
}

html, body{
    height: 100%;
    color: white;
    background-color: var(--cor-de-fundo);
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--cor-de-fundo);
}

::-webkit-scrollbar-thumb {
  background: hsla(199, 92%, 54%, 0.75);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsla(199, 92%, 54%, 1);
}

/* Firefox */
/*talvez tirar depois*/
html {
  scrollbar-width: thin;
  scrollbar-color: hsla(199, 92%, 54%, 0.75) var(--cor-de-fundo);
}
body{
    max-width: 2560px;
    max-height: 1600px;
    margin: 0 auto;
}

#container{
    width: 100%;
    height: 100vh;
    display: flex;
}

#settings-container{
    border-right: 2px solid var(--azul-principal);
    background-color: var(--cor-de-fundo);
    width: 20%;
    height: 100vh;
    max-height: 1440px;
}

#settings-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#settings{
    width: 100%;
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#config-icon{
    text-align: center;
}

#titulo{
    text-align: center;
    color: var(--azul-principal);
}

#settings-options{
    display: flex;
    flex-direction: column;
    flex: 1;
}

#opcoes-alterar{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.alterar{
    cursor: pointer;
}

.alterarbtn{
    border: none;
    border-radius: 20px;
    color: var(--azul-escuro);
    background-color: #fff;
    box-shadow: 0px 3px 0px 0px var(--azul-escuro);
    cursor: pointer;
    transition: all box-shadow 0.4s ease, transform 0.2s ease
}

.alterarbtn:active{
    transform: translateY(2px);
    box-shadow: 0px 1.5px 0px 0px var(--azul-escuro);
}

#opcoes-conta{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

#btnsair, #btnexcluir{
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

#btnsair{
    border: 1px solid var(--vermelho);
    background: none;
    color: var(--vermelho);
    cursor: pointer;
}

#btnexcluir{
    border: none;
    background-color: #6C0000;
    color: var(--vermelho);
    cursor: pointer ;
}


#lista-ranking{
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
}

#profile-container{
    flex: 1;
    background-color: var(--cor-de-fundo);
    max-height: 1440px;
}

#profile-info{
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--azul-principal);
    width: 100%;
    max-height: 30vh;
}

#profile-config{
    display: none;
}

#alterar-img{
    cursor: pointer;
    transition: all transform 0.2s ease;
}

#alterar-cor{
    cursor: pointer;
    transition: all transform 0.2s ease;
}

#profile-config{
    cursor: pointer;
    transition: all transform 0.2s ease;
}

#alterar-img:active, #alterar-cor:active, #profile-config:active{
    transform: translateY(2px);
}

#names {
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow: auto;    
}

#names::-webkit-scrollbar-track {
    background: var(--cor-de-fundo);
  }
  
#names::-webkit-scrollbar-thumb {
    background: var();
    border-radius: 5px;
  }
  
/*Se o jão não achar um jeito de arrumar, tirar essas duas linhas(?) mais para frente*/

#names {
    -ms-overflow-style: none; 
    scrollbar-width: none;   
}

#names::-webkit-scrollbar {
    display: none;             
}

#profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#profile-container{
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

#profile-user{
    display: flex;
    align-items: center;
    width: 50%;
}

#profile-social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

#profile-options{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#profile-status{
    display: flex;
    justify-content: space-around;
    flex: 1;
    margin: 2%;
    max-height: 65vh;
}

#status-container{
    width: 30%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: center;
}

.status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2E3D52;
    box-shadow: 5px 5px 0px 0px #1F2433;
    border-radius: 20px;
}

.status div:nth-child(3){
    color: #B0C2DE;
}

#medal-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}


#title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 15%;
    margin-bottom: 3%;
    background-color: #2E3D52;
    box-shadow: 5px 5px 0px 0px #1F2433;
    border-radius: 18px;
}

#medals-container{
    background-color: #2E3D52;
    width: 100%;
    display: flex;
    padding: 5%;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    border-radius: 18px;
    box-shadow: 5px 5px 0px 0px #1F2433;
}

.medals{
    width: 55px;
    height: 55px;
    margin: 3%;
    border-radius: 50%;
    background-color: #4b4b4b;
}

.medals img{
    width: 100%;
    height: 100%;
}

#ranking-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

#ranking{
    text-align: center;
    background-color: #2E3D52;
    box-shadow: 5px 5px 0px 0px #1F2433;
    border-radius: 18px;
    flex: 1;
    max-height: 85%;
}

#posicao-usuario{
    margin-top: 3%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    background-color: #2E3D52;
    box-shadow: 5px 5px 0px 0px #1F2433;
}

/*Modal de alterar*/

.modal-overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #2e2e2e;
    border-radius: 10px;
    width: 35%;
    position: relative;
    /*Alterar essas duas linhas debaixo mais pra frente*/
    max-width: 500px;
    min-width: 400px;
}

#top-modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px;
    background-color: var(--cinza);
}

.circles{
    display: flex;
}

.circle{
    margin: 3px;
}

.circles #red{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: hsl(0, 100%, 60%);
}

.circles #orange{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: hsl(39, 100%, 60%);
}

.circles #green{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: hsl(120, 100%, 30%);
}

#modalTitle{
    text-align: center;
    flex: 1;
}

.campos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 20px;
}

.campos input{
    padding: 5px;
    outline: none;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    width: 50%;
}

.inputssenha{
    position: relative;
}

.opcaosenha{
    color: black;
    position: absolute;
    right: 25%;
    cursor: pointer;
}

.campos p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.campos button{
    border: none;
    color: #fff;
    width: 50%;
    background-color: var(--azul-principal);
    box-shadow: 2px 2px 0px 1.5px var(--azul-escuro);
    border-radius: 10px;
    padding: 5px;
    font-size: 1.0em;
    transition: 0.1s ease;
}

.campos button:active{
    transform: translateY(6px);
    box-shadow: 1px 1px 0px 0px var(--azul-escuro);
}

#aviso{
    text-align: center;
}

#prealterar-cor{
    width: 135px;
    height: 135px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50%;
    background-color: hsl(0, 0%, 60%);
}

#prealterar-cor img{
    width: 70%;
}

#cores{
    display: flex;
    justify-content: center;
    row-gap: 20px;
    flex-wrap: wrap;
}

.opcaocores{
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 50%;
}

#prealterar-img{
    width: 135px;
    height: 135px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
}

#prealterar-img img{
    width: 70%;
}

#imagens{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}

.opcaoimg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 2px solid var(--cinza);
    background-color: rgba(255, 255, 255, 0);
}

.opcaoimg img{
    width: 90%;
    height: 90%;
}

#xp #numero-xp{
    color: #9069CD;
}

#coracao #numero-vidas{
    color: #EA2B2B;
}

#ofensiva #numero-ofensiva{
    color: #FFC800;
}


@media screen and (max-width: 767px) and (orientation: portrait){

#container{
    position: relative;
}

.modal {
    background: #2e2e2e;
    border-radius: 10px;
    width: 35%;
    position: relative;
    max-width: 320px;
    min-width: 300px;
    max-height: 450px;
    overflow: auto;
    z-index: 3;
}

.modal-overlay{
    z-index: 2;
}

.opcaoimg{
    width: 60px;
    height: 60px;
}

.opcaoimg img{
    width: 90%;
    height: 90%;
}

.campos button{
    width: 75%;
}

#config-icon img{
    width: 96px;
}

#settings-container{
    display: none;
    width: 70%;
    padding: 8px;
    z-index: 1;
}

#settings-container::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    pointer-events: none;
}

.alterarbtn{
    width: 75%;
    padding: 7px;
    margin: 5px; 
}

#opcoes-conta{
    gap: 0.7em;
}

#btnsair, #btnexcluir{
    padding: 9px;
    width: 75%;
}

/*Perfil*/

#profile{
    width: auto;
    height: auto;
}

#profile-info{
    flex-wrap: wrap;
    max-height: 45vh;
    border: none;
}

#profile-user{
    width: 75%;
}

#profile-options{
    width: 25%;
}

#profile-user{
    order: 1;
}

#profile-options{
    order: 2;
}

#profile-social{
    order: 3;
}

#profile-img{
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid black;
    background-color: hsl(0, 0%, 60%);
}

#profile-img img{
    width: 50%;
}

#names{
    max-width: 135px;
    margin-left: 2%;
}

#profile-options{
    display: flex;
    align-items: center;
}

#profile-options img{
    width: 100%;
}

.profile-alterar{
    width: 42px;
    height: 42px;
}

#profile-social::before{
    content: '';
    width: 95%;
    position: absolute;
    top: 0;
    border-top: 1px solid var(--azul-acinzentado);
}

#profile-social{
    flex: 1;
    margin-top: 5%;
    padding: 5%;
    justify-content: space-around;
    position: relative;
}

.profilesocialmedia{
    width: 42px;
    height: 42px;
}

#profile-config{
    display: flex;
}

/*Status*/

#profile-status{
    max-height: none;
    flex-wrap: wrap;
}

#status-container{
    order: 1;
    width: 100%;
}

#ranking-container{
    width: 80%;
    height: auto;
    order: 2;
    margin-bottom: 8%;
    margin-top: 8%;
}

#medal-container{
    order: 3;
    width: 80%;
    height: auto;
    margin-bottom: 8%;
}

#title-container{
    padding: 5%;
}

.medals{
    width: 55px;
    height: 55px;
    margin: 3%;
    border-radius: 50%;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
}

.status:nth-child(1){
    margin-top: 3%;
}

.status:nth-last-child(1){
    margin-bottom: 0%;
}

/*
.status div:nth-child(3){
    display: none;
}


.status{
    flex-direction: row;
    justify-content: space-around;
}
*/
.status{
    margin-bottom: 5%;
    padding: 6%;
    width: 65%;
}

.status img{
    width: 40px;
    height: 40px;
}

#ranking{
    padding: 5%;
    font-size: 0.8em;
}

#posicao-usuario{
    padding: 5%;
    min-height: 25%;
    font-size: 0.75em;
}

}

@media screen and (max-width: 767px) and (orientation: landscape){
.modal {
    background: #2e2e2e;
    border-radius: 10px;
    width: 35%;
    position: relative;
    max-width: 320px;
    max-height: 320px;
    overflow: auto;
    z-index: 3;
}

.modal-overlay{
    z-index: 2;
}

#config-icon img{
    width: 96px;
}

#settings-container{
    display: none;
    width: 60%;
    padding: 8px;
    z-index: 1;
}

#settings-container::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    pointer-events: none;
}

.alterarbtn{
    width: 75%;
    padding: 7px;
    margin: 5px; 
}

#opcoes-conta{
    margin-top: 10%;
    gap: 0.7em;
}

#btnsair, #btnexcluir{
    padding: 9px;
    width: 75%;
}

/*Perfil*/
#profile{
    width: auto;
    height: auto;
}

#profile-info{
    flex-wrap: wrap;
    max-height: 80vh;
    border: none;
    font-size: 18px;
}

#profile-user{
    width: 75%;
}

#profile-options{
    width: 25%;
}

#profile-user{
    order: 1;
}

#profile-options{
    order: 2;
}

#profile-social{
    order: 3;
}

#profile-img{
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid black;
    background-color: hsl(0, 0%, 60%);
}

#profile-img img{
    width: 50%;
}

#names{
    margin-left: 2%;
    width: 60%;
}

#profile-options{
    display: flex;
    align-items: center;
    gap: 1.0em;
}

#profile-options img{
    width: 100%;
}

.profile-alterar{
    width: 42px;
    height: 42px;
}

#profile-social::before{
    content: '';
    width: 95%;
    position: absolute;
    top: 0;
    border-top: 1px solid var(--azul-acinzentado);
}

#profile-social{
    flex: 1;
    justify-content: space-around;
    margin-top: 3%;
    padding: 5%;
    position: relative;
}

.profilesocialmedia{
    width: 42px;
    height: 42px;
}

#profile-config{
    display: flex;
}

/*Status*/

#profile-status{
    max-height: none;
    flex-wrap: wrap;
}

#status-container{
    order: 1;
    width: 100%;
    font-size: 18px;
}

#ranking-container{
    width: 80%;
    height: auto;
    order: 2;
    margin-bottom: 8%;
    margin-top: 8%;
    font-size: 18px;
}

#ranking{
    font-size: 1em;
}

#posicao-usuario{
    font-size: 1em;
}

#medal-container{
    order: 3;
    width: 80%;
    height: auto;
    margin-bottom: 8%;
}

#medals-container{
    gap: 0.5em;
}

#title-container{
    padding: 5%;
    font-size: 20px;
}

.medals{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
}

.status:nth-child(1){
    margin-top: 3%;
}

.status:nth-last-child(1){
    margin-bottom: 0%;
}

/*
.status div:nth-child(3){
    display: none;
}

.status{
    flex-direction: row;
    justify-content: space-around;
}
*/
.status{
    margin-bottom: 5%;
    padding: 6%;
    width: 65%;
}

.status img{
    width: 40px;
    height: 40px;
}

#ranking{
    padding: 5%;
}

#posicao-usuario{
    height: auto;
    padding: 3%;
}
}

/* Celular horizontal grande (ex.: iPhone 14 Pro Max, Galaxy S Ultra) */
@media screen and (min-width: 768px) and (max-width: 915px /*896*/) 
       and (max-height: 500px) 
       and (orientation: landscape) {
.modal {
    background: #2e2e2e;
    border-radius: 10px;
    width: 35%;
    position: relative;
    max-width: 320px;
    max-height: 320px;
    overflow: auto;
    z-index: 3;
}

.modal-overlay{
    z-index: 2;
}

#config-icon img{
    width: 96px;
}

#settings-container{
    display: none;
    width: 50%;
    padding: 8px;
    z-index: 1;
}

#settings-container::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    pointer-events: none;
}

.alterarbtn{
    width: 75%;
    padding: 7px;
    margin: 5px; 
}

#opcoes-conta{
    margin-top: 10%;
    gap: 0.7em;
}

#btnsair, #btnexcluir{
    padding: 9px;
    width: 75%;
}

/*Perfil*/
#profile{
    width: auto;
    height: auto;
}

#profile-info{
    flex-wrap: wrap;
    max-height: 80vh;
    border: none;
    font-size: 18px;
}

#profile-user{
    width: 75%;
}

#profile-options{
    width: 25%;
}

#profile-user{
    order: 1;
}

#profile-options{
    order: 2;
}

#profile-social{
    order: 3;
}

#profile-img{
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid black;
    background-color: hsl(0, 0%, 60%);
}

#profile-img img{
    width: 50%;
}

#names{
    margin-left: 2%;
}

#profile-options{
    display: flex;
    align-items: center;
    gap: 1.0em;
}

#profile-options img{
    width: 100%;
}

.profile-alterar{
    width: 42px;
    height: 42px;
}

#profile-social::before{
    content: '';
    width: 95%;
    position: absolute;
    top: 0;
    border-top: 1px solid var(--azul-acinzentado);
}

#profile-social{
    flex: 1;
    justify-content: space-around;
    margin-top: 3%;
    padding: 5%;
    position: relative;
}

.profilesocialmedia{
    width: 42px;
    height: 42px;
}

#profile-config{
    display: flex;
}

/*Status*/

#profile-status{
    max-height: none;
    flex-wrap: wrap;
}

#status-container{
    order: 1;
    width: 100%;
    font-size: 18px;
}

#ranking-container{
    width: 80%;
    height: auto;
    order: 2;
    margin-bottom: 8%;
    margin-top: 8%;
    font-size: 18px;
}

#ranking{
    font-size: 1em;
}

#posicao-usuario{
    font-size: 1em;
}

#medal-container{
    order: 3;
    width: 80%;
    height: auto;
    margin-bottom: 8%;
}

#medals-container{
    gap: 0.5em;
}

#title-container{
    padding: 5%;
    font-size: 20px;
}

.medals{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
}

.status:nth-child(1){
    margin-top: 3%;
}

.status:nth-last-child(1){
    margin-bottom: 0%;
}

/*
.status div:nth-child(3){
    display: none;
}

.status{
    flex-direction: row;
    justify-content: space-around;
}
*/
.status{
    margin-bottom: 5%;
    padding: 6%;
    width: 65%;
}

.status img{
    width: 40px;
    height: 40px;
}

#ranking{
    padding: 5%;
}

#posicao-usuario{
    height: auto;
    padding: 3%;
}
}


@media screen and (min-width: 768px) and (max-width: 1024px) 
       and (min-height: 600px) 
       and (orientation: portrait) {
#config-icon img{
    width: 96px;
}

#settings-container{
    width: 25%;
    padding: 8px;
}

.alterarbtn{
    width: 75%;
    padding: 7px;
    margin: 5px; 
}

#opcoes-conta{
    gap: 0.7em;
}

#btnsair, #btnexcluir{
    padding: 9px;
    width: 75%;
}

/* perfil */

#profile-container{
    overflow: auto;
}

#profile-img{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid black;
    background-color: hsl(0, 0%, 60%);
}

.profilesocialmedia img{
    width: 70%;
}

#profile-img img{
    width: 65%;
}

#names{
    margin-left: 3%;
}

#alterar-img img, #alterar-cor img, #profile-config img{
    width: 65%;
}

#profile-status{
    max-height: 50vh;
    row-gap: 5%;
    flex-wrap: wrap;
}

#status-container{
    width: 40%;
    max-height: 75%;
}

#title-container{
    font-size: 0.7em;
}

#medal-container{
    width: 50%;
    max-height: 75%;
}



#medals-container{
    align-content: space-around;
}

.medals{
    width: 40px;
    height: 40px;
    margin: 3%;
    border-radius: 50%;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
}

.status{
    width: 100%;
    height: 33%;
    padding: 25px;
    text-align: center;
}

.status div:nth-child(3){
    font-size: 0.8em;
}

.status img{
    width: 40px;
    height: 40px;
}

#xp #numero-xp{
    font-size: 1em;
}

#coracao #numero-vidas{
    font-size: 1em;
}

#ofensiva #numero-ofensiva{
    font-size: 1em;
}

#ranking-container{
    margin-top: 5%;
    width: 90%;
}

#ranking{
    padding: 10px;
    font-size: 1.0em;
}

#ranking img{
    width: 50px;
}

#posicao-usuario{
    text-align: center;
    font-size: 1.0em;
    margin-bottom: 5%;
}
}


@media screen and (min-width: 768px) and (max-width: 1024px) 
       and (min-height: 600px) 
       and (orientation: landscape){
#config-icon img{
    width: 96px;
}

#settings-container{
    width: 25%;
    padding: 8px;
}

.alterarbtn{
    width: 70%;
    padding: 7px;
    margin: 5px; 
}

#opcoes-conta{
    gap: 0.7em;
}

#btnsair, #btnexcluir{
    padding: 9px;
    width: 75%;
}

/* perfil */
#profile-img{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid black;
    background-color: hsl(0, 0%, 60%);
}

.profilesocialmedia img{
    width: 90%;
}

#profile-img img{
    width: 65%;
}

#names{
    margin-left: 3%;
}

#alterar-img img, #alterar-cor img, #profile-config img{
    width: 65%;
}

#profile-status{
    max-height: 60vh;
}

#status-container{
    width: 25%;
    max-height: 100%;
}

#title-container{
    font-size: 0.7em;
}

#medals-container{
    align-content: space-around;
}

.medals{
    width: 40px;
    height: 40px;
    margin: 3%;
    border-radius: 50%;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
}

.status{
    width: 100%;
    height: 33%;
    padding: 25px;
    text-align: center;
}

.status div:nth-child(3){
    font-size: 0.8em;
}

.status img{
    width: 40px;
    height: 40px;
}

#xp #numero-xp{
    font-size: 1em;
}

#coracao #numero-vidas{
    font-size: 1em;
}

#ofensiva #numero-ofensiva{
    font-size: 1em;
}

#ranking{
    padding: 10px;
    font-size: 0.575em;
}

#ranking img{
    width: 50px;
}

#posicao-usuario{
    text-align: center;
    font-size: 0.6em;
}
}

@media screen and (min-width: 1025px) and (max-width: 1440px){


/* barra lateral de configurações */
#config-icon img{
    width: 96px;
}

#settings-container{
    padding: 8px;
    display: flex !important;
}

.alterarbtn{
    width: 75%;
    padding: 7px;
    margin: 5px; 
}

#opcoes-conta{
    gap: 0.7em;
}

#btnsair, #btnexcluir{
    padding: 9px;
    width: 75%;
}

/* perfil */
#profile-img{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid black;
    background-color: hsl(0, 0%, 60%);
}

.profilesocialmedia img{
    width: 100%;
}

#profile-img img{
    width: 65%;
}

#names{
    margin-left: 3%;
}

#alterar-img img, #alterar-cor img, #profile-config img{
    width: 65%;
}

.medals{
    width: 60px;
    height: 60px;
    margin: 3%;
    border-radius: 50%;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
}

.status{
    width: 100%;
    height: 33%;
    padding: 25px;
}

.status img{
    width: 40px;
    height: 40px;
}

#xp #numero-xp{
    font-size: 1.2em;
}

#coracao #numero-vidas{
    font-size: 1.2em;
}

#ofensiva #numero-ofensiva{
    font-size: 1.2em;
}

#ranking{
    padding: 10px;
}

#ranking{
    font-size: 0.8em;
}

#ranking img{
    width: 100px;
}

#posicao-usuario{
    text-align: center;
    font-size: 0.8em;
}
}


@media screen and (min-width: 1441px) and (max-width: 1920px){
/*
Separação de classes e Id's para estilização 
*/

/*barra de alteração lateral*/
#config-icon img{
    width: 96px;
}

#settings #titulo{
    font-size: 32px;
}

#settings{
    font-size: 22px;
}

#config-icon img{
    width: 96px;
}

#settings-container{
    padding: 8px;
    padding-bottom: 20px;
}

.alterarbtn{
    width: 75%;
    padding: 10px;
    margin: 5px; 
}

#opcoes-conta{
    gap: 0.7em;
}

#btnsair, #btnexcluir{
    padding: 10px;
    width: 75%;
}

/*Infos do perfil*/

#profile-img{
    width: 175px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    background-color: hsl(0, 0%, 60%);
}

.profilesocialmedia img{
    width: 100%;
}

#profile-img img{
    width: 65%;
}

#names{
    margin-left: 3%;
    font-size: 1.2em;
}

#alterar-img img, #alterar-cor img, #profile-config img{
    width: 75%;
}

/*Medalhas*/

#title-container{
    font-size: 1.3em;
}

.medals{
    width: 80px;
    height: 80px;
    margin: 3%;
    border-radius: 50%;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
}

/*Status*/

.status{
    width: 100%;
    height: 33%;
    padding: 25px;
    gap: 1em;
}

.status img{
    width: 60px;
    height: 60px;
}

.status div{
    font-size: 1.2em;
}

#xp #numero-xp{
    font-size: 1.5em;
}

#coracao #numero-vidas{
    font-size: 1.5em;
}

#ofensiva #numero-ofensiva{
    font-size: 1.5em;
}

/*Ranking*/

#ranking{
    padding: 20px;
}

#ranking img{
    width: 140px;
}

#posicao-usuario{
    text-align: center;
    font-size: 1.25em;
}

#ranking{
    font-size: 1.25em;
}

.opcaosenha{
    right: 25%;
}
}

@media screen and (min-width: 1921px) {
#config-icon img{
    width: 48px;
}

#settings #titulo{
    font-size: 42px;
}

#settings{
    font-size: 22px;
}

#config-icon img{
    width: 196px;
}

#settings-container{
    padding: 8px;
    padding-bottom: 20px;
}

.alterarbtn{
    width: 75%;
    padding: 12px;
    margin: 8px; 
    font-size: 1.1em;
}

#opcoes-conta{
    gap: 0.7em;
}

#btnsair, #btnexcluir{
    padding: 12px;
    width: 75%;
    font-size: 1.1em;
}

/*Infos do perfil*/

#profile-img{
    width: 175px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    background-color: hsl(0, 0%, 60%);
}

.profilesocialmedia img{
    width: 125%;
}

#profile-img img{
    width: 65%;
}

#names{
    margin-left: 3%;
    font-size: 1.4em;
}

#alterar-img img, #alterar-cor img, #profile-config img{
    width: 75%;
}

/*Medalhas*/

#title-container{
    font-size: 1.5em;
}

.medals{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
}

/*Status*/

#status-container{
    min-height: 100%; 
}

.status{
    width: 100%;
    height: 33%;
    padding: 25px;
    gap: 1em;
}

.status img{
    width: 90px;
    height: 90px;
}

.status div:nth-child(3){
    font-size: 2em;
}

#xp #numero-xp{
    font-size: 2em;
}

#coracao #numero-vidas{
    font-size: 2em;
}

#ofensiva #numero-ofensiva{
    font-size: 2em;
}

/*Ranking*/

#ranking{
    padding: 20px;
}

#ranking img{
    width: 180px;
}

#posicao-usuario{
    text-align: center;
    font-size: 1.5em;
}

#ranking{
    font-size: 1.5em;
}

.opcaosenha{
    right: 25%;
}
}