*{
    /*CSS reset, adicionar mais coisas depois*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

@media screen and (max-width: 767px){

header{
    /*position: sticky;
    top: 0;*/
    padding: 0;
}

nav{
    background-color: hsl(0, 0%, 15%);
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav .button{
    margin: 10px;
}

nav #logo-bunco{
    margin: 0;
}

nav button{
    border: none;
    padding: 5px;
    border-radius: 5px;
}

main{
    height: 200vh;
}

#background{
    height: 360px;
    background-color: hsl(34, 78%, 91%);
    background-image: url();
}

#form-section{
    /*background-color: hsl(200, 100%, 23%);*/
    background-color: white;
    display: flow-root;
}
#form-section h1{
    margin-top: 5%;
    text-align: center;
    font-family: 'Poppins';
    font-weight: normal;
}
#form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
}

#form-section #form form{
    width: 90%;
}

#form-section #form form{
    border-radius: 10px;
}

#form-section #form form #campos{
    padding: 25px;
}

#form form input[type="text"], input[type="password"], input[type="email"], input[type="button"]{
    font-family: 'Inter';
    background-color: hsl(200, 7%, 16%);
    margin: 5px;
    padding: 1px;
    border: 1px solid hsl(0, 0%, 10%);
    border-radius: 5px;
    width: 65%;
    color: white;
}

#form form input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="button"]:focus{
    outline: 1px solid hsl(255, 90%, 60%);
}

#form form input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder, input[type="button"]::placeholder{
    color: hsl(200, 87%, 40%);
    text-align: center;
    margin: 1px;
}

#form form input[type="button"]{
    cursor: pointer;
}

#form form input:hover{
    background-color: hsl(200, 7%, 20%);
}

#form form p:last-child{
    display: flex;
    justify-content: center;
}

#form form label{
    font-family: 'Jetbrains Mono';
}

#form-section #form form{
    background-color: hsl(200, 7%, 16%);
}

#form-section #form form label:nth-child(1){
    color: hsl(40, 100%, 70%);
}

#circles{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
}

.circle{
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: white;
    margin: 3px;
}

.circle:nth-child(1){
    background-color: hsl(0, 100%, 60%);
}
.circle:nth-child(2){
    background-color: hsl(39, 100%, 60%);
}
.circle:nth-child(3){
    background-color: hsl(120, 100%, 30%);
}

#card-section{
    margin: 5%;
}

#card-section #title{
    display: flex;
    justify-content: space-between;
    /*gap: 10px;*/
}

#card-section #cards{

}

}

/*Continuar personalizando o formulário pra ficar parecido com carbon.sh e desenvolver o resto, tenho
que ver o javascript do print e do card do sobre*/

/*O placeholder pode ser cinza da cor de um comentário, os nomes podem ser coloridos tipo código*/

/*Pode ter um som de digitação no forms*/










/* Tablet na vertical */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    body{
        background-color: hsl(200, 85%, 45%);
    }
    body p::after{
        color: white;
        content: 'Tablet na vertical';
    }
}

/* Tablet na horizontal */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    body{
        background-color: rgb(0, 119, 128);
    }
    body p::after{
        color: white;
        content: 'Tablet na horizontal';
    }
}

/* Desktop comum */
@media screen and (min-width: 1025px) and (max-width: 1440px){
    body{
        background-color: hsl(115, 100%, 20%);
    }
    body p::after{
        color: white;
        content: 'Desktop até 1440';
    }
    nav{
        height: 100px;
        color: white;
        background-color: hsl(0, 0%, 15%);
    }
}

/* Desktop maior (1920+) */
@media screen and (min-width: 1441px){
    body{
        background-color: hsl(210, 60%, 35%);
    }
    body p::after{
        color: white;
        content: 'Desktop Full HD 4k kkkkkkkkkk';
    }
}
