* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --azul-principal: #1cb0f6;
  --azul-acinzentado: #586892;
  --azul-escuro: #1453a3;
  --cor-de-fundo: #0d141f;
  --cinza: #4d4d4d;
  --cinza-escuro: #333333;
  --azul-claro: #84d8ff;
}

body {
  overflow: auto;
  background-color: #0d141f;
  color: white;
  max-width: 2000px;
  margin: 0 auto;
}

#senhatxt {
  position: relative;
}

#opcaosenha {
  position: absolute;
  top: 30%;
  right: 17%;
}

input[type="password"]::-ms-reveal {
  display: none;
}

input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  position: absolute;
  right: 0;
}

#form form input[type="button"] {
  padding: 6px 0px;
  background-color: var(--azul-principal);
  color: #fff;
  font-weight: bolder;
  box-shadow: 1px 2px 0px 1px var(--azul-escuro);
  border-radius: 20px;
  width: 40%;
  font-family: "Baloo 2", "times new roman";
  font-size: 18px;
  transition: all box-shadow 0.4s ease, transform 0.2s ease;
}

#form form input[type="button"]:active {
  box-shadow: 0.5px 1.5px 0px var(--azul-escuro);
  transform: translateY(4px);
}

/*Modal*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  font-family: "Baloo 2", "sans-serif";
  font-weight: bolder;
}

.modal {
  background: #2e2e2e;
  border-radius: 10px;
  width: 35%;
  position: relative;
  /*Alterar essas duas linhas debaixo mais pra frente*/
  max-width: 500px;
  min-width: 320px;
  text-align: center;
  z-index: 2;
  font-family: "Baloo 2", sans-serif;
  font-weight: bolder;
}

#top-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 5px;
  background-color: var(--cinza);
}

.circles #red {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: hsl(0, 100%, 60%);
}

.circles #orange {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: hsl(39, 100%, 60%);
}

.circles #green {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: hsl(120, 100%, 30%);
}

#modalTitle {
  text-align: center;
  flex: 1;
}

.campos p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.campos button {
  border: none;
  color: #fff;
  width: 50%;
  background-color: var(--azul-principal);
  box-shadow: 2px 2px 0px 1.5px var(--azul-escuro);
  border-radius: 10px;
  padding: 8px;
  font-size: 1em;
  transition: 0.1s ease;
  margin-bottom: 10%;
  font-family: "Baloo 2", sans-serif, serif;
  font-weight: bolder;
}

.campos button:active {
  transform: translateY(6px);
  box-shadow: 1px 1px 0px 0px var(--azul-escuro);
}

#aviso {
  text-align: center;
  font-size: 18px;
  padding: 30px;
}

/*Navbar*/

header {
  top: 0;
  position: sticky;
  z-index: 10;
}

header {
  border-bottom: 2px solid var(--azul-principal);
  background-color: var(--cor-de-fundo);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}

nav #logo-bunco {
  margin: 0;
}

nav button {
  border: none;
  padding: 7px;
  border-radius: 5px;
}

nav #signup-button {
  width: 50%;
  max-width: 175px;
  background-color: var(--azul-principal);
  color: #fff;
  box-shadow: 0px 4px 0px var(--azul-escuro);
  transition: all box-shadow 0.4s ease, transform 0.2s ease;
  cursor: pointer;
  font-weight: bold;
}

nav #signup-button:active {
  box-shadow: 0px 2.25px 0px var(--azul-escuro);
  transform: translateY(6px);
}

nav #signup-button a:visited,
nav #signup-button a:link {
  color: var(--cor-de-fundo);
}

nav #signin-button {
  position: relative;
  overflow: hidden;
  width: 40%;
  background: none;
  border: 1px solid var(--azul-principal);
  border-radius: 15px;
  transition: all 0.4s ease;
  color: var(--azul-principal);
  font-size: 12px;
  z-index: 1;
  cursor: pointer;
}

nav #signin-button::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s ease-in-out;
  z-index: -1;
}

nav #signin-button::after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--azul-principal);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s ease-in-out;
  z-index: -1;
}

nav #signin-button:hover {
  color: #fff;
  border: 1px solid var(--azul-escuro);
}

nav #signin-button:hover::before {
  top: -35%;
  background-color: var(--azul-principal);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

nav #signin-button:hover::after {
  top: -45%;
  background-color: var(--azul-principal);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

nav #signin-button a:visited,
nav #signin-button a:link {
  color: var(--azul-principal);
}

/*Acima deixa pro nav#alguma coisa*/

#background {
  aspect-ratio: 19 / 8;
  width: 100%;
  background-image: url(../img/background.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

#formsection-img {
  position: relative;
}

#form form {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

#circles {
  display: flex;
  align-items: center;
  background-color: var(--cinza);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px;
}

#circles p {
  font-family: "Inter", "sans-serif";
}

.circles {
  display: flex;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  margin: 3px;
}

.circle:nth-child(1) {
  background-color: hsl(0, 100%, 60%);
}

.circle:nth-child(2) {
  background-color: hsl(39, 100%, 60%);
}

.circle:nth-child(3) {
  background-color: hsl(120, 100%, 30%);
}

#form-text {
  position: relative;
  font-weight: bold;
  color: var(--azul-principal);
}

.cursor {
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: #4285f4;
  animation: blink 1s infinite;
  vertical-align: middle;
  margin-left: 1px;
  margin-right: 2px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#form form #campos {
  background-color: var(--cinza-escuro);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#form form input[type="text"],
input[type="password"],
input[type="email"],
input[type="button"] {
  font-family: "Inter";
  background-color: var(--cinza);
  border: none;
  border-radius: 5px;
  color: white;
}

#opcaosenha {
  cursor: pointer;
}

#form form input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  outline: 1px solid black;
  transition: outline 0.3s ease;
}

#form form input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
input[type="button"]::placeholder {
  color: hsl(0, 0, 60%);
  text-align: center;
  margin: 1px;
}

#form form input[type="button"] {
  margin-top: 3%;
  cursor: pointer;
}

#card-section #title h3 {
  color: #a1dffc;
  font-family: "Poppins", serif, sans-serif;
  text-shadow: 0 0 50px var(--azul-principal);
}

#card-section {
  margin: 5%;
}

#cards-container {
  display: flex;
}

#card-section .card-body {
  background-color: #0d141f;
  border-radius: 10px;
  font-family: "Inter", serif;
  border: 2px solid var(--azul-principal);
  transition: 0.7s ease;
  color: var(--cor-de-fundo);
}

#card-section .card-body:hover {
  box-shadow: 0px 0px 30px 4px var(--azul-escuro);
}

#card-section .inner-card {
  height: auto;
  background-color: var(--azul-principal);
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  text-align: center;
  overflow: hidden;
  color: var(--cor-de-fundo);
  font-weight: bold;
}

#card-section .inner-card::before {
  content: "";
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--azul-principal);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: absolute;
  top: -10%;
}

#cards-container .card-body:nth-child(1) .inner-card::before {
  content: "Iniciante";
}

#cards-container .card-body:nth-child(2) .inner-card::before {
  content: "Intermediário";
}

#cards-container .card-body:nth-child(3) .inner-card::before {
  content: "Avançado";
}

.inner-text {
  margin-top: 5%;
  margin-bottom: 5%;
}

.infos {
  color: #fff;
  height: 50%;
  font-family: "Inter", serif, sans-serif;
}

.info-desc {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10%;
}

.info-desc .quant-desc {
  color: var(--azul-principal);
}

.divider {
  width: 2px;
  height: 35px;
  background-color: #586892;
}

.info-desc p {
  color: #586892;
}

#icons-section #icons-container {
  display: flex;
}

#icons-section .icons {
  padding: 5%;
  color: white;
  font-family: "Inter";
  border-radius: 5px;
}

.icon-divider {
  width: 2px;
  height: 100px;
  background-color: var(--azul-principal);
}

#icons-section .icons-img {
  width: 25%;
}

.icons-img img {
  width: 100%;
}

#about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", serif, sans-serif;
  padding: 5% 0;
}

#about-container {
  background-color: var(--cor-de-fundo);
}

#about-container #about-top {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: flex;
  justify-content: space-between;
  background-color: var(--azul-acinzentado);
  height: auto;
  padding: 2%;
}

#about-top #nome-integrante {
  width: 65%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  margin-bottom: 2%;
  color: var(--cor-de-fundo);
  font-weight: 500;
}

#about-info {
  color: var(--cor-texto);
  font-weight: bold;
}

#img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: auto;
  margin-left: 5%;
}

#img-container img {
  width: 100%;
  border-radius: 50%;
  border: 3px solid black;
}

#button-container .prev-btn,
.next-btn {
  background-color: var(--cor-de-fundo);
  border: none;
  color: var(--azul-principal);
  cursor: pointer;
}

footer {
  color: white;
  background-color: var(--cor-de-fundo);
  height: auto;
  display: flow-root;
  background-image: url(../img/patinhas.svg);
  background-size: 40%;
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
  font-family: "Inter", serif, sans-serif;
  font-weight: bolder;
}

footer p {
  margin-top: 3%;
  text-align: center;
  color: var(--azul-escuro);
  font-size: 14px;
}

footer li {
  list-style-type: none;
}

footer a {
  text-decoration: none;
  color: white;
}

#footer-section {
  margin: 5%;
}

#footer-container {
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

#footer-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  width: auto;
}

#footer-logo {
  display: flex;
  justify-content: center;
}

#footer-logo img {
  width: 15%;
}

#footer-copy {
  color: var(--azul-escuro);
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  header {
    position: static;
  }

  nav {
    height: 70px;
  }

  nav #logo-bunco {
    width: 40%;
  }

  nav #buttons {
    display: flex;
    justify-content: space-between;
  }

  nav #buttons {
    width: 45%;
  }

  nav #signin-button {
    width: 45%;
  }

  nav #signup-button {
    width: 50%;
    font-size: 11px;
  }

  nav img {
    width: 80%;
  }

  #background {
    width: 100%;
    height: 320px;
    background-image: url(../img/background.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
  }

  #formsection-img {
    display: none;
  }

  #form form {
    width: 95%;
    height: 100%;
    max-width: 320px;
  }

  #form form #circles {
    padding: 5px;
  }

  #circles p {
    margin-left: 5%;
    font-size: 14px;
  }

  .cursor {
    margin-right: 1px;
  }

  #form form #campos {
    text-align: center;
    padding-bottom: 3%;
    padding-top: 3%;
  }

  #form form input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="button"] {
    margin: 5px;
    padding: 4px;
    width: 60%;
  }

  #opcaosenha {
    position: absolute;
    top: 25%;
    right: 19%;
  }

  #form form input[type="button"] {
    padding: 4px;
  }

  #card-section #title {
    text-align: center;
  }

  #cards-container {
    margin-top: 15%;
  }

  #cards-container {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  #card-section .card-body {
    position: relative;
    width: 75%;
    height: auto; /*antes era 50%*/
    margin-bottom: 15%;
  }

  #card-section .inner-card {
    width: 93%;
    margin-bottom: 12.5%;
    font-size: 14px;
  }
  #card-section .inner-card::before {
    content: "";
    width: 55%;
    height: 15%;
    font-size: 15px;
  }

  #cards-container .card-body:nth-child(1) .inner-card::before {
    content: "Iniciante";
  }

  #cards-container .card-body:nth-child(2) .inner-card::before {
    content: "Intermediário";
  }

  #cards-container .card-body:nth-child(3) .inner-card::before {
    content: "Avançado";
  }

  .divider {
    width: 1px;
  }

  #cards-container .infos {
    font-size: 14px;
  }

  #icons-section {
    margin: 5%;
  }

  #icons-section #icons-container {
    margin-top: 5%;
    align-items: center;
    flex-direction: column;
    gap: clamp(10px, 4vw, 30px);
  }

  #icons-section .icons {
    width: 85%;
  }

  #icons-section .icon-divider {
    display: none;
  }

  #icons-section .icons-img {
    width: 100%;
  }

  .icons-img img {
    width: 40%;
  }

  #icons-section .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: clamp(10px, 5vw, 30px);
  }

  #about-section {
    height: 50vh;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0;
  }

  #about-container #about-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    background: var(--cor-de-fundo);
  }

  #about-container #about-top #nome-integrante {
    display: block;
    width: auto;
    margin: 0;
    color: var(--cor-texto);
    font-weight: bold;
    font-weight: 400;
  }

  #about-container #about-bottom {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--azul-acinzentado);
    font-weight: bold;
  }

  #about-info {
    margin-top: 3%;
  }

  #about-container #button-container {
    margin-top: 10%;
  }

  #about-container {
    box-shadow: 5px 5px 0px 0px var(--cor-texto);
    border-radius: 5%;
    width: 85%;
    height: auto;
    padding: 4%;
  }

  #img-container {
    display: block;
    width: 35%;
    margin-bottom: 5%;
    margin-left: 0%;
  }

  #img-container img {
    border: 3px solid black;
  }

  #button-container {
    display: flex;
    gap: clamp(4em, 8em, 12em);
  }

  #footer-section {
    margin: 5%;
  }

  #footer-wrap {
    gap: 2em;
  }

  .footer-column {
    width: 33%;
  }

  #footer-logo img {
    width: 100px;
  }
}

/*Celular na horizontal*/
@media screen and (max-width: 767px) and (orientation: landscape) {
  header {
    position: static;
  }

  nav {
    height: 70px;
  }

  nav #logo-bunco {
    width: 40%;
  }

  nav #buttons {
    display: flex;
    justify-content: space-between;
  }

  nav #buttons {
    width: 46%;
  }

  nav #signin-button {
    width: 35%;
  }

  nav #signup-button {
    width: 50%;
  }

  nav img {
    width: 80%;
  }

  #background {
    width: 100%;
    height: 320px;
    background-image: url(../img/background.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
  }

  #formsection-img {
    display: none;
  }

  #form form {
    width: 95%;
    height: 100%;
    max-width: 380px;
  }

  #form form #circles {
    padding: 5px;
  }

  #circles p {
    margin-left: 5%;
  }

  .cursor {
    margin-right: 1px;
  }

  #form form #campos {
    text-align: center;
    padding-bottom: 3%;
    padding-top: 3%;
  }

  #form form input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="button"] {
    margin: 5px;
    padding: 4px;
    width: 60%;
  }

  #form form input[type="button"] {
    padding: 3px;
  }

  #card-section #title {
    text-align: center;
  }

  #cards-container {
    margin-top: 15%;
  }

  #cards-container {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  #card-section .card-body {
    position: relative;
    width: 75%;
    max-width: 360px;
    height: auto; /*antes era 50%*/
    margin-bottom: 15%;
  }

  #card-section .inner-card {
    width: 94%;
    margin-bottom: 12.5%;
    font-size: 16px;
  }
  #card-section .inner-card::before {
    content: "";
    width: 55%;
    height: 15%;
    font-size: 18px;
  }

  #cards-container .card-body:nth-child(1) .inner-card::before {
    content: "Iniciante";
  }

  #cards-container .card-body:nth-child(2) .inner-card::before {
    content: "Intermediário";
  }

  #cards-container .card-body:nth-child(3) .inner-card::before {
    content: "Avançado";
  }

  .divider {
    width: 1px;
  }

  #cards-container .infos {
    font-size: 16px;
  }

  #icons-section {
    margin: 5%;
  }

  #icons-section #icons-container {
    margin-top: 5%;
    align-items: center;
    flex-direction: column;
    gap: clamp(10px, 4vw, 30px);
  }

  #icons-section .icons {
    width: 85%;
  }

  #icons-section .icon-divider {
    display: none;
  }

  #icons-section .icons-img {
    width: 100%;
  }

  .icons-img img {
    width: 30%;
  }

  #icons-section .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: clamp(10px, 5vw, 30px);
  }

  #about-container #about-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-de-fundo);
  }

  #about-container #about-top #nome-integrante {
    color: var(--cor-texto);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
  }

  #about-container #about-bottom {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--azul-acinzentado);
    font-weight: bold;
  }

  #about-info {
    margin-top: 3%;
    font-size: 18px;
  }

  #about-container #button-container {
    margin-top: 10%;
  }

  #about-container {
    box-shadow: 7px 7px 0px 0px var(--cor-texto);
    border-radius: 5%;
    width: 85%;
    height: auto;
    padding: 5%;
  }

  #img-container {
    display: block;
    width: 35%;
    margin-bottom: 5%;
    margin-left: 0%;
  }

  #img-container img {
    border: 3px solid black;
  }

  #button-container {
    display: flex;
    gap: clamp(4em, 8em, 12em);
  }

  #footer-section {
    margin: 5%;
  }

  #footer-logo img {
    width: 100px;
  }
}

/* Tablet na vertical */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  nav {
    background-color: var(--cor-de-fundo);
    height: 70px;
  }

  #buttons {
    width: 35%;
  }

  nav #buttons {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
  }

  nav #signin-button {
    width: 35%;
  }

  nav #signup-button {
    width: 50%;
  }

  nav img {
    width: 55%;
    height: 70%;
  }

  #form-section {
    margin: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #form {
    width: 50%;
  }

  #form-section #formsection-img {
    width: 40%;
  }

  #formsection-img img {
    top: 0;
    position: absolute;
    width: 100%;
    transform: translateY(-30%);
  }

  #form-section #form form #campos {
    text-align: center;
    padding: 25px;
  }

  #form form input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="button"] {
    margin: 5px;
    padding: 5px;
    width: 65%;
  }

  #form form input[type="button"] {
    cursor: pointer;
  }

  #form form p:last-child {
    display: flex;
    justify-content: center;
  }

  #form form label {
    font-family: "Jetbrains Mono";
  }

  #circles {
    padding: 10px;
  }

  #circles p {
    margin-left: 5%;
  }

  #card-section #title h3 {
    font-size: 22px;
  }

  #cards-container {
    margin-top: 10%;
  }

  #cards-container {
    position: relative;
    justify-content: space-between;
  }

  #card-section .card-body {
    width: 30%;
    height: auto; /*antes era 50%*/
    margin-bottom: 5%;
  }

  #card-section .inner-card {
    width: 94%;
    margin-bottom: 10%;
    font-size: 13px;
  }

  #card-section .inner-card::before {
    content: "";
    width: 20%;
    height: 15%;
    font-size: 14px;
  }

  #cards-container .card-body:nth-child(1) .inner-card::before {
    content: "Iniciante";
  }

  #cards-container .card-body:nth-child(2) .inner-card::before {
    content: "Intermediário";
  }

  #cards-container .card-body:nth-child(3) .inner-card::before {
    content: "Avançado";
  }

  #cards-container .infos {
    font-size: 13px;
  }

  #icons-section {
    margin: 5%;
  }

  #icons-section #icons-container {
    flex-wrap: wrap;
    gap: clamp(10px, 2vw, 30px);
  }

  #icons-section .icons {
    width: 45%;
  }

  #icons-section .icons {
    display: flex;
    align-items: center;
    gap: clamp(10px, 5vw, 30px);
  }

  #icons-section .icon-text {
    width: 50%;
  }

  #icons-section .icon-text {
    font-size: 14px;
  }

  #about-container {
    box-shadow: 8px 8px 0px 0px var(--cor-texto);
    border-radius: 40px;
    width: 70%;
    height: 70%;
  }

  #about-top {
    border-top: 4px solid var(--cor-de-fundo);
    border-left: 4px solid var(--cor-de-fundo);
    border-right: 4px solid var(--cor-de-fundo);
  }

  #about-top #nome-integrante #nome {
    font-size: 32px;
  }

  #about-top #img-container img {
    border: 3px solid var(--cor-de-fundo);
  }

  #about-bottom {
    height: 65%;
  }

  #about-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20%;
    padding: 5%;
  }

  #about-info {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5%;
  }

  #about-info {
    font-size: 18px;
  }

  #about-info::before {
    position: absolute;
    left: -5%;
    content: "";
    width: 2px;
    height: 75px;
    background-color: var(--cor-before);
  }

  #about-bottom #button-container {
    display: flex;
    gap: 7em;
  }

  footer {
    background-size: auto;
  }

  #footer-section {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 0%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  nav {
    background-color: var(--cor-de-fundo);
    height: 70px;
  }

  #buttons {
    width: 25%;
  }

  nav #buttons {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
  }

  nav #signin-button {
    width: 35%;
  }

  nav #signup-button {
    width: 50%;
  }

  nav img {
    width: 55%;
    height: 70%;
  }

  #form-section {
    margin: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #form {
    width: 45%;
  }

  #form-section #formsection-img {
    width: 40%;
  }

  #formsection-img img {
    top: 0;
    position: absolute;
    width: 100%;
    transform: translateY(-30%);
  }

  #form-section #form form #campos {
    text-align: center;
    padding: 25px;
  }

  #form form input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="button"] {
    margin: 5px;
    padding: 5px;
    width: 65%;
  }

  #form form p:last-child {
    display: flex;
    justify-content: center;
  }

  #form form label {
    font-family: "Jetbrains Mono";
  }

  #circles {
    padding: 10px;
  }

  #circles p {
    margin-left: 5%;
  }

  #card-section #title h3 {
    font-size: 22px;
  }

  #cards-container {
    margin-top: 10%;
  }

  #cards-container {
    position: relative;
    justify-content: space-between;
  }

  #card-section .card-body {
    width: 30%;
    height: auto; /*antes era 50%*/
    margin-bottom: 5%;
  }

  #card-section .inner-card {
    width: 94%;
    margin-bottom: 10%;
    font-size: 15px;
  }

  #card-section .inner-card::before {
    content: "";
    width: 20%;
    height: 15%;
    font-size: 16px;
  }

  #cards-container .card-body:nth-child(1) .inner-card::before {
    content: "Iniciante";
  }

  #cards-container .card-body:nth-child(2) .inner-card::before {
    content: "Intermediário";
  }

  #cards-container .card-body:nth-child(3) .inner-card::before {
    content: "Avançado";
  }

  #cards-container .infos {
    font-size: 15px;
  }

  #icons-section {
    margin: 5%;
  }

  #icons-section #icons-container {
    flex-wrap: wrap;
    gap: clamp(10px, 2vw, 30px);
  }

  #icons-section .icons {
    width: 45%;
  }

  #icons-section .icons {
    display: flex;
    align-items: center;
    gap: clamp(10px, 5vw, 30px);
  }

  #icons-section .icon-text {
    width: 50%;
  }

  #icons-section .icon-text {
    font-size: 14px;
  }

  #about-container {
    box-shadow: 8px 8px 0px 0px var(--cor-texto);
    border-radius: 40px;
    width: 70%;
    height: 75%;
  }

  #about-top {
    border-top: 6px solid var(--cor-de-fundo);
    border-left: 6px solid var(--cor-de-fundo);
    border-right: 6px solid var(--cor-de-fundo);
  }

  #about-top #nome-integrante #nome {
    font-size: 32px;
  }

  #about-top #img-container img {
    border: 2px solid var(--cor-de-fundo);
  }

  #about-bottom {
    height: 65%;
  }

  #about-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20%;
    padding: 5%;
  }

  #about-info {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5%;
  }

  #about-info {
    font-size: 18px;
  }

  #about-info::before {
    position: absolute;
    left: -5%;
    content: "";
    width: 2px;
    height: 75px;
    background-color: var(--cor-before);
  }

  #about-bottom #button-container {
    display: flex;
    gap: 7em;
  }

  footer {
    background-size: auto;
  }

  #footer-section {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 0%;
  }
}

/* Desktop comum */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  nav {
    background-color: var(--cor-de-fundo);
    height: 80px;
  }

  #buttons {
    width: 25%;
  }

  nav #buttons {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
  }

  nav a {
    text-decoration: none;
  }

  nav #signin-button {
    width: 35%;
    max-width: 100px;
  }

  nav #signup-button {
    width: 50%;
    max-width: 175px;
  }

  nav img {
    width: 70%;
    height: 70%;
    max-width: 300px;
    max-height: 65px;
  }

  #form-section {
    margin: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #form {
    width: 40%;
  }

  #form-section #form form {
    max-width: 500px;
  }

  #form-section #formsection-img {
    width: 35%;
  }

  #formsection-img img {
    top: 0;
    position: absolute;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    transform: translateY(-40%);
  }

  #form-section #form form #campos {
    padding: 25px;
  }

  #form form input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="button"] {
    margin: 7px;
    padding: 5px;
    width: 65%;
  }

  #form form input[type="button"] {
    width: 55%;
  }

  #form form p:last-child {
    display: flex;
    justify-content: center;
  }

  #form form label {
    font-family: "Jetbrains Mono";
  }

  #circles {
    padding: 10px;
  }

  #circles p {
    margin-left: 5%;
  }

  .circle {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: white;
    margin: 3px;
  }

  #card-section #title h3 {
    font-size: 28px;
  }

  #cards-container {
    margin-top: 5%;
  }

  #cards-container {
    position: relative;
    justify-content: space-around;
  }

  #card-section .card-body {
    width: 25%;
    max-width: 300px;
    max-height: 250px;
    height: auto; /*antes era 50%*/
  }

  #card-section .inner-card {
    width: 94%;
    margin-bottom: 10%;
    font-size: 18px;
  }

  #card-section .inner-card::before {
    content: "";
    width: 20%;
    max-width: 240px;
    max-height: 40px;
    height: 15%;
    font-size: 19px;
  }

  #cards-container .card-body:nth-child(1) .inner-card::before {
    content: "Iniciante";
  }

  #cards-container .card-body:nth-child(2) .inner-card::before {
    content: "Intermediário";
  }

  #cards-container .card-body:nth-child(3) .inner-card::before {
    content: "Avançado";
  }

  .infos {
    font-size: 18px;
  }

  #icons-section {
    margin: 5%;
  }

  #icons-section #icons-container {
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(10px, 2vw, 30px);
  }

  #icons-section .icons {
    width: 45%;
    max-width: 550px;
    max-height: 250px;
  }

  #icons-section .icons {
    display: flex;
    align-items: center;
    gap: clamp(10px, 5vw, 30px);
  }

  #icons-section .icon-text {
    width: 50%;
  }

  #icons-section .icon-text {
    font-size: 14px;
  }

  #about-container {
    box-shadow: 8px 8px 0px 0px var(--cor-texto);
    border-radius: 40px;
    width: 70%;
    max-width: 1000px;
    max-height: 500px;
  }

  #about-top {
    border-top: 6px solid var(--cor-de-fundo);
    border-left: 6px solid var(--cor-de-fundo);
    border-right: 6px solid var(--cor-de-fundo);
  }

  #about-top #nome-integrante #nome {
    font-size: 48px;
  }

  #about-top #img-container img {
    border: 4px solid var(--cor-de-fundo);
  }

  #about-bottom {
    height: 65%;
  }

  #about-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20%;
    padding: 5%;
  }

  #about-info {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5%;
  }

  #about-info {
    font-size: 24px;
  }

  #about-info::before {
    position: absolute;
    left: -5%;
    content: "";
    width: 3px;
    height: 100px;
    background-color: var(--cor-before);
  }

  #about-bottom #button-container {
    display: flex;
    gap: 12em;
  }

  #footer-section {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 0%;
    max-width: 1500px;
  }

  .footer-column {
    font-size: 22px;
  }

  .footer-column h3 {
    font-size: 36px;
  }

  #footer-copy {
    font-size: 18px;
  }
}

/* Desktop maior (1920+) */
@media screen and (min-width: 1441px) {
  nav {
    background-color: var(--cor-de-fundo);
    height: 100px;
  }

  #buttons {
    width: 40%;
  }

  nav #buttons {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
  }

  nav a {
    text-decoration: none;
  }

  nav #signin-button {
    width: 25%;
    max-width: 210px;
    max-height: 50px;
    font-size: 20px;
  }

  nav #signup-button {
    font-size: 20px;
    width: 30%;
    max-width: 250px;
    max-height: 50px;
  }

  nav img {
    width: 100%;
    height: 80%;
    max-width: 350px;
    max-height: 80px;
  }

  #form-section {
    margin: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #form-section {
    font-size: 18px;
    font-family: "Inter", sans-serif, serif;
  }

  #form {
    width: 50%;
  }

  #form-section #form form {
    width: 65%;
  }

  #form-section #formsection-img {
    width: 35%;
  }

  #formsection-img img {
    top: 0;
    position: absolute;
    width: 100%;
    max-width: 525px;
    transform: translateY(-40%);
  }

  #form-section #form form #campos {
    padding: 25px;
  }

  #form form input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="button"] {
    margin: 8px;
    padding: 6px;
    width: 65%;
  }

  #form form p:last-child {
    display: flex;
    justify-content: center;
  }

  #form form label {
    font-family: "Jetbrains Mono";
  }

  #circles {
    padding: 10px;
  }

  #circles p {
    flex: 1;
    font-size: 20px;
    margin-right: 5%;
  }

  .circle {
    width: 16px;
    height: 16px;
    margin: 5px;
  }

  #card-section #title h3 {
    font-size: 42px;
  }

  #cards-container {
    margin-top: 5%;
  }

  #cards-container {
    position: relative;
    justify-content: space-around;
  }

  #card-section .card-body {
    width: 25%;
    background-color: #0d141f;
    height: auto; /*antes era 50%*/
  }

  #card-section .inner-card {
    width: 94%;
    margin-bottom: 10%;
    font-size: 22px;
  }

  #card-section .inner-card::before {
    content: "";
    width: 20%;
    height: 15%;
    font-size: 24px;
  }

  #cards-container .card-body:nth-child(1) .inner-card::before {
    content: "Iniciante";
  }

  #cards-container .card-body:nth-child(2) .inner-card::before {
    content: "Intermediário";
  }

  #cards-container .card-body:nth-child(3) .inner-card::before {
    content: "Avançado";
  }

  #cards-container .infos {
    font-size: 22px;
  }

  #icons-section {
    margin: 5%;
  }

  #icons-section #icons-container {
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(10px, 2vw, 30px);
  }

  #icons-section .icons {
    width: 45%;
  }

  #icons-section .icons {
    display: flex;
    align-items: center;
    gap: clamp(10px, 5vw, 30px);
  }

  #icons-section .icon-text {
    width: 50%;
  }

  #icons-section .icon-text {
    font-size: 24px;
  }

  .icon-divider {
    height: 150px;
  }

  #about-container {
    box-shadow: 11px 11px 0px 0px var(--cor-texto);
    border-radius: 40px;
    width: 70%;
    height: 85%;
  }

  #about-top {
    border-top: 12px solid var(--cor-de-fundo);
    border-left: 12px solid var(--cor-de-fundo);
    border-right: 12px solid var(--cor-de-fundo);
  }

  #about-top #nome-integrante #nome {
    font-size: 64px;
  }

  #about-top #img-container img {
    border: 6px solid var(--cor-de-fundo);
  }

  #about-bottom {
    height: 65%;
  }

  #about-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20%;
    padding: 5%;
  }

  #about-info {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5%;
  }

  #about-info {
    font-size: 32px;
  }

  #about-info::before {
    position: absolute;
    left: -5%;
    content: "";
    width: 3px;
    height: 100px;
    background-color: var(--cor-before);
  }

  #about-bottom #button-container {
    display: flex;
    gap: 12em;
  }

  footer {
    margin-top: 5%;
  }

  #footer-section {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 0%;
  }

  .footer-column {
    font-size: 24px;
  }

  .footer-column h3 {
    font-size: 32px;
  }

  #footer-copy {
    font-size: 28px;
  }
}
