*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

:root{
    --azul-principal: #1CB0F6;
    --azul-acinzentado: #586892;
    --azul-escuro: #1453A3;
    --cor-de-fundo: #0d141f;   
}

body{
    background-color: #0d141f;
    color: white;
}

@media screen and (max-width: 767px){

header{
    box-shadow: 0px 2px 0px var(--azul-principal);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
}

nav #logo-bunco{
    width: 40%;
}

nav img{
    width: 50%;
    height: 60%;
}

nav #buttons{
    display: flex;
    justify-content: space-between;
}

nav #buttons{
    width: 46%;
}

nav #signin-button{
    width: 35%;
    background: none;
    border: 1px solid var(--azul-principal);
    border-radius: 15px;
}

nav #signin-button a:visited , nav #signin-button a:link{
    color: var(--azul-principal);
}

nav #signup-button{
    width: 50%;
    background-color: var(--azul-principal);
    color: var(--cor-de-fundo);
    border: 2px solid var(--azul-escuro);
    box-shadow: 0px 3px 0px var(--azul-escuro);
}

nav #signup-button a:visited, nav #signup-button a:link{
    color: var(--cor-de-fundo);
}

nav img{
    width: 85%;
}

nav button{
    border: none;
    padding: 7px;
    border-radius: 5px;
}

#background{
    width: 100%;
    height: 320px;
    background-image: url(../img/background.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#form-section{
    display: flow-root;
}
#form-section h1{
    margin-top: 5%;
    text-align: center;
    font-family: 'Poppins';
    font-weight: normal;
}
#form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
}


#form-section #formsection-img{
    display: none;
}

#form-section #form form{
    border-radius: 10px;
}

#form-section #form form #campos{
    padding: 25px;
}

#form form input[type="text"], input[type="password"], input[type="email"], input[type="button"]{
    font-family: 'Inter';
    background-color: hsl(200, 7%, 16%);
    margin: 5px;
    padding: 1px;
    border: 1px solid hsl(0, 0%, 10%);
    border-radius: 5px;
    width: 60%;
    color: white;
}

#form form input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="button"]:focus{
    outline: 1px solid hsl(255, 90%, 60%);
}

#form form input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder, input[type="button"]::placeholder{
    color: hsl(200, 87%, 40%);
    text-align: center;
    margin: 1px;
}

#form form input[type="button"]{
    cursor: pointer;
}

#form form input:hover{
    background-color: hsl(200, 7%, 20%);
}

#form form p:last-child{
    display: flex;
    justify-content: center;
}

#form form label{
    font-family: 'Jetbrains Mono';
}

#form-section #form form{
    background-color: hsl(200, 7%, 16%);
}

#circles{
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
}

.circle{
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: white;
    margin: 3px;
}

#circles p{
    margin-left: 5%;
    font-family: 'Inter', 'sans-serif';
}

#form-text{
    font-weight: bold;
    color: var(--azul-principal);
}

.circle:nth-child(1){
    background-color: hsl(0, 100%, 60%);
}
.circle:nth-child(2){
    background-color: hsl(39, 100%, 60%);
}
.circle:nth-child(3){
    background-color: hsl(120, 100%, 30%);
}

#card-section #title{
    display: flex;
    justify-content: space-between;
}

#card-section{
    margin: 5%;
}


#cards-container{
    margin-top: 15%;
}

#cards-container{
    /*position: relative;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#card-section .card-body{
        position: relative;
        width: 75%;
        background-color: #0d141f;
        height: auto; /*antes era 50%*/
        box-shadow: 0px 0px 10px 3px #1CB0F6;
        border-radius: 10px;
        margin-bottom: 15%;
        font-family: 'Inter', serif;
    }

#card-section .inner-card{
        width: 90%;
        height: auto; /*antes era 50%*/
        background-color: #586892;
        border-radius: 10px;
        border-top-left-radius: 0px;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 3%;
        text-align: center;
        overflow: hidden;
        margin-bottom: 12.5%;
        color: var(--cor-de-fundo);
        font-weight: bold;
    }
#card-section .inner-card::before{
        content: '';
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-color: #586892;
        width: 55%;
        height: 15%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        /*border: 0.5px solid black;*/
        position: absolute;
        top: -10%;
    }

    #cards-container .card-body:nth-child(1) .inner-card::before {
        content: 'Iniciante';
    }

    #cards-container .card-body:nth-child(2) .inner-card::before {
        content: 'Intermediário';
    }

    #cards-container .card-body:nth-child(3) .inner-card::before {
        content: 'Avançado';
    }
    /*
        .inner-text p{
            display: list-item;
        }
        .inner-card p::marker{
            content: "";
        }
    */
    .inner-text{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .infos{
        color: white;
        height: 50%;
    }
    .info-desc{
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10%;
    }
    .info-desc .quant-desc{
        color: var(--azul-principal);
    }
    .divider{
        width: 1px;
        height: 35px;
        background-color: #586892;
    }
    .info-desc p{
        color: #586892;
    }


#icons-section{
    margin: 5%;
}

#icons-section #icons-container{
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: clamp(10px, 4vw, 30px);
}

#icons-section .icons{
    padding: 5%;
    width: 85%;
    color: white;
    font-family: 'Inter';
    border-radius: 5px;
}

#icons-section .icon-divider{
    display: none;
}

#icons-section .icons-img{
    width: 100%;
}


#icons-section .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: clamp(10px, 5vw, 30px);
}

#about-section{
    border: 1px solid var(--azul-escuro);
    box-shadow: 0 0 10px 2px var(--azul-escuro);
    border-radius: 5%;
    margin: 5%;
    padding: 5%;
    background-color: hsla(0, 0%, 100%, 0.1);
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin-top: 5%;*/
    height: 25vh;
}

#img-container{
    margin-bottom: 5%;
}

#img-container img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

#button-container{
    display: flex;
    gap: clamp(4em, 8em, 12em);
    margin-top: 5%;
}

#button-container .prev-btn, .next-btn{
    background: none;
    border: none;
    color: var(--azul-principal);
    cursor: pointer;
}

footer{
    color: white;
    background-color: #202020;
    height: auto;
    display: flow-root;
}

footer li{
    list-style-type: none;;
}

footer a{
    text-decoration: none;
    color: white;
}

#footer-section{
    margin: 5%;
}

#footer-container{
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#footer-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column{
    width: auto;
}

}











/* Tablet na vertical */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    header{
    padding: 0;
    box-shadow: 0px 2px var(--azul-principal);
}

nav{
    background-color: var(--cor-de-fundo);
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#buttons{
    width: 25%;
}

nav #buttons{
    display: flex;
    justify-content: flex-end;
    gap: 2em;
}

nav a{
    text-decoration: none;
}

nav #signin-button{
    width: 35%;
    background: none;
    border: 1px solid var(--azul-principal);
    border-radius: 15px;
}

nav #signin-button a:visited , nav #signin-button a:link{
    color: var(--azul-principal);
}

nav #signup-button{
    width: 50%;
    background-color: var(--azul-principal);
    color: var(--cor-de-fundo);
    border: 2px solid var(--azul-escuro);
    box-shadow: 0px 3px 0px var(--azul-escuro);
}

nav #signup-button a:visited, nav #signup-button a:link{
    color: var(--cor-de-fundo);
}

nav #logo-bunco{
    margin: 0;
}

nav img{
    width: 55%;
    height: 70%;
}

nav button{
    border: none;
    padding: 7px;
    border-radius: 5px;
}


#background{
    aspect-ratio: 19 / 8;
    width: 100%;
    background-image: url(../img/background.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#form-section{
    margin: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 280px;
    width: 50%;
}

#form-section #form form{
    width: 100%;
}

#form-section #formsection-img{
    position: relative;
    width: 40%;
}

#formsection-img img{
    top: 0;
    position: absolute;
    width: 100%;
    transform: translateY(-30%);
}

#form-section #form form{
    border-radius: 10px;
}

#form-section #form form #campos{
    padding: 25px;
}

#form form input[type="text"], input[type="password"], input[type="email"], input[type="button"]{
    font-family: 'Inter';
    background-color: hsl(200, 7%, 16%);
    margin: 5px;
    padding: 1px;
    border: 1px solid hsl(0, 0%, 10%);
    border-radius: 5px;
    width: 65%;
    color: white;
}

#form form input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="button"]:focus{
    outline: 1px solid hsl(255, 90%, 60%);
}

#form form input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder, input[type="button"]::placeholder{
    color: hsl(200, 87%, 40%);
    text-align: center;
    margin: 1px;
}

#form form input[type="button"]{
    cursor: pointer;
}

#form form input:hover{
    background-color: hsl(200, 7%, 20%);
}

#form form p:last-child{
    display: flex;
    justify-content: center;
}

#form form label{
    font-family: 'Jetbrains Mono';
}

#form-section #form form{
    background-color: hsl(200, 7%, 16%);
}

#circles{
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
}

#form-text{
    font-weight: bold;
    color: var(--azul-principal);
}

#circles p{
    margin-left: 5%;
    font-family: 'Inter', 'sans-serif';
}

.circle{
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: white;
    margin: 3px;
}

.circle:nth-child(1){
    background-color: hsl(0, 100%, 60%);
}
.circle:nth-child(2){
    background-color: hsl(39, 100%, 60%);
}
.circle:nth-child(3){
    background-color: hsl(120, 100%, 30%);
}



#card-section{
    margin: 5%;
}

#cards-container{
    margin-top: 10%;
}

#cards-container{
    position: relative;
    display: flex;
    justify-content: space-between;
}

#card-section .card-body{
        width: 30%;
        background-color: #0d141f;
        height: auto; /*antes era 50%*/
        box-shadow: 0px 0px 10px 3px #1CB0F6;
        border-radius: 10px;
        margin-bottom: 5%;
        font-family: 'Inter', serif;
    }

#card-section .inner-card{
        width: 90%;
        height: auto; /*antes era 50%*/
        background-color: #586892;
        border-radius: 10px;
        border-top-left-radius: 0px;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 3%;
        text-align: center;
        overflow: hidden;
        margin-bottom: 10%;
        color: var(--cor-de-fundo);
        font-weight: bold;
        font-size: 15px;
    }

#card-section .inner-card::before{
        content: 'teste';
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-color: #586892;
        width: 20%;
        height: 15%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        /*border: 0.5px solid black;*/
        position: absolute;
        top: -10%;
    }

    #cards-container .card-body:nth-child(1) .inner-card::before {
        content: 'Iniciante';
    }

    #cards-container .card-body:nth-child(2) .inner-card::before {
        content: 'Intermediário';
    }

    #cards-container .card-body:nth-child(3) .inner-card::before {
        content: 'Avançado';
    }
/*
    .inner-text{
            display: list-item;
        }
    .inner-card p::marker{
            content: "a";
    }
*/
    .inner-text{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .info-desc{
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10%;
    }
    .info-desc .quant-desc{
        color: var(--azul-principal);
    }
    .infos{
        color: white;
        height: 50%;
    }
    .divider{
        width: 2px;
        height: 35px;
        background-color: #586892;
    }
    .info-desc p{
        color: #586892;
    }

#icons-section{
    overflow: hidden;
    margin: 5%;
}

#icons-section #icons-container{
    display: flex;
    flex-wrap: wrap;
    gap: clamp(10px, 2vw, 30px);
}

#icons-section .icons{
    padding: 5%;
    width: 45%;
    color: white;
    font-family: 'Inter';
    border-radius: 5px;
}

#icons-section .icons{
    display: flex;
    align-items: center;
    gap: clamp(10px, 5vw, 30px);
}

#icons-section .icons-img{
    width: 25%;
}

#icons-section .icons-img img{
    width: 100%;
}

#icons-section .icon-text{
    width: 50%;
}

#icons-section .icon-text{
    font-size: 14px;
}

.icon-divider{
    width: 2px;
    height: 100px;
    background-color: var(--azul-principal);
}


#about-section{
    border: 1px solid var(--azul-escuro);
    box-shadow: 0 0 10px 2px var(--azul-escuro);
    border-radius: 5%;
    margin: 5%;
    padding: 5%;
    background-color: hsla(0, 0%, 100%, 0.1);
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

#img-container{
    margin-bottom: 5%;
}

#img-container img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

#button-container{
    display: flex;
    gap: clamp(4em, 8em, 12em);
    margin-top: 5%;
}

#button-container .prev-btn, .next-btn{
    background: none;
    border: none;
    color: var(--azul-principal);
    cursor: pointer;
}


/*Reformar toda essa parte do footer*/


footer{
    color: white;
    background-color: #202020;
    height: auto;
    display: flow-root;
}

footer li{
    list-style-type: none;;
}

footer a{
    text-decoration: none;
    color: white;
}

#footer-section{
    margin: 5%;
}

#footer-container{
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#footer-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column{
    width: auto;
}
}

/* Tablet na horizontal */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    body{
        background-color: rgb(0, 119, 128);
    }
    body p::after{
        color: white;
        content: 'Tablet na horizontal';
    }
}

/* Desktop comum */
@media screen and (min-width: 1025px) and (max-width: 1440px){
    body{
        background-color: hsl(115, 100%, 20%);
    }
    body p::after{
        color: white;
        content: 'Desktop até 1440';
    }
    nav{
        height: 100px;
        color: white;
        background-color: hsl(0, 0%, 15%);
    }
}

/* Desktop maior (1920+) */
@media screen and (min-width: 1441px){
    body{
        background-color: hsl(210, 60%, 35%);
    }
    body p::after{
        color: white;
        content: 'Desktop HD';
    }
    header{
    /*position: sticky;
    top: 0;*/
    padding: 0;
}

}

